.strike{
    text-decoration: line-through;
    transition: text 3s;
}
.whole_app{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.tasks_Container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    
}
#task{
    display: grid;
    grid-template-columns: max-content max-content auto;
    column-gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.checkbox{
    grid-column: 1 / 2;
    font-size: larger;
}
.content{
    grid-column: 2 / 3;
    font-size: larger;

}
.remove{
    grid-column: 3 / 4;
    justify-self: end;
    font-size: larger;

}
#tasks_left{
    text-shadow: 5px 5px 8px rgba(0,0,0,0.24);
    font-size: larger;
    align-self: center;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.24);
}
button{
    border: none;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:focus{
    background-color: cornflowerblue;
}
.input{
    text-align: center;
}
.text_input{
    border: none;
    height: 40px;
    width: 75%;
    margin-right: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#add_todo{
    width: 50px;
    font-size: larger;
}
@media only screen and (min-width: 768px){
    .whole_app{
        width: 25%;
        height: 50%;
        margin: auto;
    }
}