body {
    background-color: yellowgreen;
}

ol{
    list-style-type: none;
}
a{
    color:white;
    background-color: green;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px;
}
a:hover{
    color: black;
}
.table_of_contents{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid_2col{
    justify-self: center;
}