@font-face {
    font-family: fibelNord;
    src: url(fibel-nord/Fibel\ Nord.ttf);

  }

*{
    font-family: fibelNord;
}
body{
    background-color: black;
}
.remove{
    display:none;
}
.removeAnimation{
    animation: fade-out 1s;
}
.add{
    display: block;
    animation: fade-in 1s;

}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
.upperCaseLetter{
    background-color:gold;
    height: 15vw;
    width: 15vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 15vw;
    text-align: center;
    line-height: 15vw;
}

.lowerCaseLetters{
    transition: opacity 2s ease-in-out;
}

.lowerCaseLetter{
    background-color: green;
    height: 15vw;
    width: 15vw;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 15vw;
    text-align: center;
    line-height: 14vw;
    top: 150px;


}
#upperCaseLetter{
    position:absolute;
    left: 175px;
    top: 50px;
}

#optionOne{
    position: absolute;
    left: 5%;
  
}
#optionTwo{
    position: absolute;
    left: 30%;
 

}
#optionThree{
    position: absolute;
    left: 55%;


}
#optionFour{
    position: absolute;
    left: 80%;
}
.results{
    position: absolute;
    top: 250px;
    color: white;
    border: white solid 3px;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;

}

.loadGame{
    text-align: center;
    color: gold;
    background-color:green;
    margin-top: 50px;
    font-size: x-large;
    border: black 2px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.loadButton{
    width: 25%;
    height: 100px;
    border: none;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: x-large;
}

.loadExplanation{
    text-shadow: 2px 2px rgba(0,0,0,0.19);
}
.resetButton{
    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    font-size: larger;
    font-family: fibelNordBold;
    border: none;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.incorrectTitle{
    margin-top: 0;
}
.end{

    text-align: center;
    color: gold;
    background-color:green;
    margin-top: 50px;
    font-size: x-large;
    border: black 2px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.endButton{
    width: 25%;
    height: 100px;
    border: none;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: x-large;

}
@media only screen and (min-width: 768px){
    .lowerCaseLetters{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 25px 0;
        place-items: center;
    }
    .upperCaseLetter{
        padding: 5px;
    }
    .lowerCaseLetter{
        padding:5px;
    }

    #optionOne, #optionTwo, #optionThree, #optionFour, #upperCaseLetter{
        position: static;

    }
    #upperCaseLetter{
        position: static;
        margin-top: 75px;
    }
    .results{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 25%;
    }

}