@font-face {
    font-family: fibelNord;
    src: url(fibel-nord/Fibel\ Nord.ttf);
  }

*{
    font-family: fibelNord;
}

.upperCaseLetter{
    background-color:yellow;
    height: 15vw;
    width: 15vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 15vw;
    text-align: center;
    line-height: 15vw;
}

.lowerCaseLetter{
    background-color: red;
    height: 15vw;
    width: 15vw;
    /* margin: auto; */
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 15vw;
    text-align: center;
    line-height: 15vw;
    top: 150px;


}
#upperCaseLetter{
    position:absolute;
    left: 150px;
    top: 50px;
}

#optionOne{
    position: absolute;
    left: 5%;
  
}
#optionTwo{
    position: absolute;
    left: 30%;
 

}
#optionThree{
    position: absolute;
    left: 55%;


}
#optionFour{
    position: absolute;
    left: 80%;


}
.results{
    position: absolute;
    top: 250px;
}

@media only screen and (min-width: 768px){
    .lowerCaseLetters{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 25px 0;
        place-items: center;
    }

    #optionOne, #optionTwo, #optionThree, #optionFour, #upperCaseLetter{
        position: static;

    }
    .results{
        position: absolute;
        top: 20px;
        left: 20px;
    }

}